body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: backgroundcolor 200ms ease-in-out;
    background-color: yellow;
}