body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 400ms ease-in-out;
    background: rgba(0, 0, 0, 0.6);
}

.container {
    text-align: center;
    font-size: 1.5rem;
}

.hex {
    font-size: 2rem;
    /* text-transform: capitalize;/ */
}

.btn {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border: 1px #fff solid;
    border-radius: 10px;
    outline: none;
}

h2 {
    color: #fff;
}